{% extends "applications/app_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}

{% block sidebar_init %}backups{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'backups_index' app.pk %}">{% trans "Backups" %}</a></li>
<li class="active">{% trans "Configure backups" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Configure backups" %}</h2>
<br>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% trans "Save" %}
</button>
<a class="btn btn-link" href="{% url 'backups_index' app.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}
