{% extends "applications/app_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}backups{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Backups" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <div class="btn-group">
    <a href="{% url 'backups_configure' app.pk %}" class="btn btn-default">
    <span class="glyphicon glyphicon-cog"></span> {% trans "Configure" %}</a>
    </div>
    {% if backup_settings %}
    <div class="btn-group">
    <a href="{% url 'backups_start' app.pk %}" class="btn btn-success">
    <span class="glyphicon glyphicon-play"></span> {% trans "Start backup" %}</a>
    </div>
    {% endif %}
</div>
<h2>{% trans "Backups" %}</h2>
<br>

{% if backup_settings %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Settings</h3>
</div>
<div class="panel-body">
<table class="table table-hover">
<tr>
    <td><strong>{% trans "Target" %}</strong></td>
    <td><code>{{ backup_settings.target }}</code></td><td></td>
</tr>
<tr>
    <td><strong>{% trans "Target user / Access key" %}</strong></td>
    <td>{{ backup_settings.username }}</td><td></td>
</tr>
<tr>
    <td><strong>{% trans "Max age" %}</strong></td>
    <td>{{ backup_settings.get_max_age_display }}</td><td></td>
</tr>
<tr>
    <td><strong>{% trans "Volume size" %}</strong></td>
    <td>{{ backup_settings.volsize }} MB</td><td></td>
</tr>
<tr>
    <td><strong>{% trans "Schedule" %}</strong></td>
    <td>{{ backup_settings.get_schedule_display }}</td><td></td>
</tr>
<tr>
    <td><strong>{% trans "Duply config file" %}</strong></td>
    <td>{{ backup_settings.get_duply_config_file_name }}</td>
    <td style="text-align:right;">
        <div class="btn-group btn-group-sm">
        <a href="{% url 'backups_rewrite_config' app.pk %}" style="text-decoration:none;" class="btn btn-default">
        <span class="glyphicon glyphicon-upload"></span> {% trans "Force rewrite" %}</a>
        <a target="_blank" href="{% url 'backups_duply_config' app.pk %}" style="text-decoration:none;" class="btn btn-default">
        <span class="glyphicon glyphicon-download"></span> {% trans "Download" %}</a>
        </div>
    </td>
</tr>
</table>
</div>
</div>

{% with backup_settings.get_backup_status_as_obj as b_status %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Backup status" %}</h3>
</div>
<div class="panel-body">
<table class="table table-hover">
<tr>
    <td><strong>{% trans "Last check" %}</strong></td>
    <td>{{b_status.last_status_check.0}}</td>
</tr>
<tr>
    <td><strong>{% trans "Metadata sync status" %}</strong></td>
    <td>{{b_status.matadata_are_synchronized}}</td>
</tr>
<tr>
    <td><strong>{% trans "Last full backup" %}</strong></td>
    <td>{{b_status.last_full_backup.0}}</td>
</tr>
</table>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Backup sets" %}</h3>
</div>
<div class="panel-body">
{% if b_status.backup_sets_count > 0 %}
<table class="table table-hover table-bordered table-striped">
<tr>
    <th>{% trans "Time" %}</th>
    <th>{% trans "Type of backup set" %}</th>
    <!-- <th></th> -->
</tr>
{% for s in b_status.backup_sets %}
<tr>
    <td>{{s.1}}</td>
    <td>{{s.0}}</td>
    <!-- <td></td> -->
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "No backup sets yet." %}</p>
</div>
{% endif %}
</div>
</div>
{% endwith %}

<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">{% trans "How to restore?" %}</h3>
</div>
<div class="panel-body">
<p>{% trans "If you do not install Duply and Duplicity yet then you can use the next commands to do that:" %}</p>
<pre>
sudo add-apt-repository -y ppa:duplicity-team/ppa
sudo apt-get -qq update
sudo apt-get -y install python-pip
sudo apt-get -y install duplicity duply
sudo pip install boto
</pre>
<p>{% trans "Create a Duply site profile:" %}</p>
<pre>
{{backup_settings.get_creation_cmd}}
</pre>
<p>{% trans "Then copy downloaded conf file to the just created config folder and replace existing file." %}</p>
<hr>
<p>{% trans "Use this command for restore backup to a temporary directory:" %}</p>
<pre>
{{backup_settings.get_restore_to_dir_cmd}}
</pre>
<p>{% trans "For restore backup for specific date add it to the command like that:" %}</p>
<pre>
{{backup_settings.get_restore_to_dir_cmd}} '2013-11-08T07:38:30'
</pre>
</div>
</div>

{% comment %}
<pre>
{{backup_settings.get_backup_status_as_obj|pprint}}
</pre>
<p><code>$ {{backup_settings.get_status_cmd}}</code></p>
<pre>
{{backup_settings.duply_status}}
</pre>
{% endcomment %}


{% comment %}
<h3>pre</h3>
<pre>
{{backup_settings.compile_pre_script}}
</pre>
<h3>post</h3>
<pre>
{{backup_settings.compile_post_script}}
</pre>

<h3>conf</h3>
<pre>
{{backup_settings.compile_config}}
</pre>
<h3>exclude</h3>
<pre>
{{backup_settings.compile_exclude}}
</pre>
{% endcomment %}
{% else %}
<div class="alert alert-info">
    <p>{% trans "Backup settings are not configured." %}</p>
</div>
{% endif %}
{% endblock %}
