{% extends "applications/app_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}linkedftps{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Linked FTPs" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'linkedftps_add' app.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add linked FTP" %}</a>
</div>
<h2>{% trans "Linked FTPs" %}</h2>
<br>

{% if linked_ftps %}
<table class="table table-hover table-bordered table-striped">
<tr>
    <th>{% trans "FTP user" %}</th>
    <th>{% trans "FTP subdirectory" %}</th>
    <th>{% trans "Directory" %}</th>
    <th></th>
</tr>
{% for f in linked_ftps %}
<tr>
    <td>{{f.ftpuser.username}}</td>
    <td>{{f.ftp_directory}}</td>
    <td>{{f.directory}}</td>
    <td style="text-align:right;">
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
            <a href="{% url 'linkedftps_delete' app.pk f.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no linked FTPs yet." %}</p>
</div>
{% endif %}
{% endblock %}
