{% extends "applications/app_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}

{% block sidebar_init %}linkedftps{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active"><a href="{% url 'linkedftps_index' app.pk %}">{% trans "Linked FTPs" %}</a></li>
<li class="active">{% if object %}{% trans "Edit linked FTP" %}{% else %}{% trans "Add linked FTP" %}{% endif %}</li>
{% endblock %}

{% block content %}
<h2>{% if object %}{% trans "Edit linked FTP" %}{% else %}{% trans "Add linked FTP" %}{% endif %}</h2>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% if object %}{% trans "Save linked FTP" %}{% else %}{% trans "Add linked FTP" %}{% endif %}
</button>
<a class="btn btn-link" href="{% url 'linkedftps_index' app.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}
