{% extends "applications/app_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block sidebar_init %}nginxconfig{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Nginx config" %}</li>
{% endblock %}

{% block content %}
<div class="btn-group pull-right">
    <a href="{% url 'nginxconfig_restart_nginx' app.pk %}" class="btn btn-info">
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        {% trans "Restart Nginx" %}</a>
</div>
<h2>{% trans "Nginx config" %}</h2>
<br>

<form method="post">
{% csrf_token %}
{{form|crispy}}
<br>
<div>
<input class="btn btn-primary pull-right" type="submit" value="{% trans 'Save' %}"/>
</div>
</form>
{% endblock %}
