{% extends "applications/app_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}passenger{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Passenger" %}</li>
{% endblock %}

{% block content %}
<div class="btn-group pull-right">
    <a href="{% url 'passenger_restart_app' app.pk %}" class="btn btn-info">
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        {% trans "Restart application" %}</a>
</div>
<h2>{% trans "Passenger" %}</h2>
<br>

<div class="panel panel-default">
  <div class="panel-heading">{% trans "Status" %}</div>
  <div class="panel-body">
<pre>
{{passenger_status|safe}}
</pre>
  </div>
</div>
{% endblock %}
