{% load i18n %}
<h2>{% trans "Plugins" %}</h2>
<br>
{% if plugins %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th></th>
</tr>
{% for p in plugins %}
<tr>
    <td>{{p.get_name}}</td>
    <td style="text-align:right;">
        <a href="{% url 'plugin_enable' p_object_info.0.app_label p_object_info.0.model p_object.pk %}?plugin_class={{p.class_name}}&return_url={{return_url}}" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-plus"></span> {% trans 'Enable' %}</a>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no available plugins." %}</p>
</div>
{% endif %}

{% if plugin_states %}
<h3>{% trans "Enabled plugins" %}</h3>
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Enabled" %}</th>
    <th>{% trans "Enabled by" %}
    <th></th>
</tr>
{% for p in plugin_states %}
<tr>
    <td>{{ p.get_plugin_name }}</td>
    <td>{{ p.added|date:"d-m-Y" }}</td>
    <td>{{ p.added_by.get_full_name }}</td>
    <td style="text-align:right;">
        <a href="{% url 'plugin_disable' p_object_info.0.app_label p_object_info.0.model p_object.pk %}?plugin_class={{p.plugin_class}}&return_url={{return_url}}" class="btn btn-link btn-sm" ><span class="glyphicon glyphicon-remove"></span> {% trans 'Disable' %}</a>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no enabled plugins." %}</p>
</div>
{% endif %}