{% extends "one_column_page.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Edit account" %}{% endblock %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'my_account' %}">{% trans "My account" %}</a></li>
<li class="active">{% trans "Edit account" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Edit account" %}</h2>

{% crispy form %}
{% endblock %}