{% extends "one_column_page.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} - {% trans "Customer account" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Customer account" %}</li>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-3">
<img src="{% static 'accounts/img/default-user-icon-profile.png' %}">
</div>
<div class="col-md-9">
<div class="btn-toolbar pull-right">
<a href="{% url 'edit_my_account' %}" class="btn btn-success">
<span class="glyphicon glyphicon-edit"></span>
{% trans "Edit account" %}</a>
</div>
<h1>{{ user.get_full_name }}</h1>
<br>
<dl>
    <dt>{% trans "Email" %}</dt>
    <dd>{{ user.email }}</dd>
    {%comment%}<dt>{% trans "Language" %}</dt>
    <dd>{{ customer.get_language_display }}</dd>{%endcomment%}
</dl>
</div>
</div>
{% endblock %}