{% extends "applications/app_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}envvariables{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Config variables" %}</li>
{% endblock %}

{% block content %}
{% if has_support %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success __action--add-variable">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add variable" %}</a>
</div>
<h2>{% trans "Config variables" %}</h2>
<br>
{% if variables %}
<form method="post">
{% csrf_token %}
<table class="table table-striped table-hover" id="__slot--variables">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Value" %}</th>
    <th></th>
</tr>
{% for v in variables %}
<tr>
    <td>
        {{v.varname}}
    </td>
    <td>
        <input class="form-control" name="{{v.varname}}" type="text" value="{{v.value}}"/>
    </td>
    <td style="text-align:right;">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
        <a class="btn btn-danger btn-sm __action--delete-variable" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    </td>
</tr>
{% endfor %}
</table>
<div>
<input class="btn btn-primary pull-right" type="submit" value="{% trans 'Save' %}"/>
</div>
</form>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no variables yet." %}</p>
</div>
{% endif %}

<div class="modal fade" id="__modal--add-variable">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Add variable" %}</h4>
      </div>
      <div class="modal-body">
        <div class="form-vertical">
            <div class="form-group">
                <label for="__input--varname">Variable name</label>
                <input type="text" class="form-control" id="__input--varname" placeholder="Variable name">
            </div>
            <div class="form-group">
                <label for="__input--value">Value</label>
                <input type="text" class="form-control" id="__input--value" placeholder="Value">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" class="btn btn-primary __action--variable-to-list">{% trans "Add variable" %}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
function add_variable() {
    $('#__modal--add-variable').modal('show');
}

function variable_to_list() {
    var s = '<tr><td>'+$("#__input--varname").val()+'</td><td>'+
        '<input class="form-control" name="'+
        $("#__input--varname").val()+'" type="text" value="'+
        $("#__input--value").val()+'"/></td><td style="text-align:right;">'+
        '<div class="btn-toolbar pull-right"><div class="btn-group">'+
        '<a class="btn btn-danger btn-sm __action--delete-variable" '+
        'title="{% trans "Delete" %}">'+
        '<span class="glyphicon glyphicon-trash"></span></a></div></div>'+
        '</td></tr>';
    $('#__slot--variables tr:last').after(s);
    $('#__modal--add-variable').modal('hide');
}

function delete_variable() {
    if(confirm("{% trans 'Do you really want to remove this variable?' %}")) {
        $(this).parent().parent().parent().parent().remove();
    }
}

$(document).ready(function (){
    $(".__action--add-variable").click(add_variable);
    $(".__action--variable-to-list").click(variable_to_list);
    $("body").on('click', '.__action--delete-variable', delete_variable);
});
</script>
{% else %}
<div class="alert alert-warning">
    <p>{% trans "This plugin does not support current container." %}</p>
</div>
{% endif %}
{% endblock %}
