{% load i18n plugins_tags %}
<ul class="nav nav-pills nav-stacked __action--app-sidebar">
<li data-itemname="detail"><a href="{{ app.get_absolute_url }}">{% trans "General" %}</a></li>
<li data-itemname="sshkeys"><a href="{% url 'app_sshkeys' app.pk %}">{% trans "SSH Keys" %}</a></li>
{% init_menu "apps" app %}
<li data-itemname="plugins"><a href="{% url 'app_pluginstates' app.pk %}">{% trans "Plugins" %}</a></li>
</ul>
<script type="text/javascript">
if(window.SIDEBAR_ACTIVE_ITEM) {
$('.__action--app-sidebar li[data-itemname="'+window.SIDEBAR_ACTIVE_ITEM+'"]')
    .addClass('active');
}
</script>