{% extends "two_column_page.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} - {{ app }}{% endblock %}

{% block topbar_init %}apps{% endblock %}
{% block sidebar_init %}detail{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'app_list' %}">{% trans "Applications" %}</a></li>
<li><a href="{{ app.get_absolute_url }}">{{ app.short_description }}</a></li>
{% endblock %}

{% block sidebar %}
{% include "applications/_app_sidebar.html" %}
{% endblock %}

{% block content %}{% endblock %}
