{% extends "applications/app_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}sshkeys{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "SSH Keys" %}</li>
{% endblock %}

{% block content %}
{% include "sshkeys/_sshkey_list_for_object.html" %}
{% if keys_records %}
<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">{% trans "How to login?" %}</h3>
</div>
<div class="panel-body">
<p>{% trans "You can login to container with command:" %}
<code>{{ app.docker_container.get_ssh_command }}</code></p>
</div></div>
{% endif %}
{% endblock %}