{% extends "applications/app_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}sshkeys{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{{ cancel_url }}">{% trans "SSH Keys" %}</a></li>
<li class="active">{% trans "Add key" %}</li>
{% endblock %}

{% block content %}
{% include "sshkeys/_sshkey_add_for_object.html" %}
{% endblock %}