{% extends "one_column_page.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} - {% trans "Applications" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Applications" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'add_webapp' %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add application" %}</a>
</div>
<h2>{% trans "Applications" %}</h2>
<br>

{% if applications %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Short description" %}</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Running" %}</th>
    <th>{% trans "Docker image" %}</th>
    <th>{% trans "Host" %}</th>
    <th>{% trans "Domain" %}</th>
</tr>
{% for app in applications %}
<tr{% if not app.active %} class="info"{% endif %}>
    <td><a href="{{ app.get_absolute_url }}">{{ app.short_description }}</a></td>
    <td>{{ app.name }}</td>
    <td>{% if app.docker_container.is_running %}<img title="{% trans 'Running' %}" src="{% static 'img/tick-button.png' %}">{% else %}<img title="{% trans 'Not running' %}" src="{% static 'img/minus-button.png' %}">{% endif %}</td>
    <td>{{ app.docker_image }}</td>
    <td>{{ app.host }}</td>
    <td>{% with app.get_domains as domains %}
    {% for d in domains %}
    <a href="{{d.get_link}}" target="_blank">{{d.get_link}}</a>{% if not forloop.last %}, {% endif %}{% empty %}{% trans "Not set" %}{% endfor %}
    {% endwith %}</td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
<p>{% trans "There are no applications yet." %}</p>
</div>
{% endif %}
{% endblock %}