{% extends "applications/app_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Delete application" %}</li>
{% endblock %}

{% block content %}
<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="alert alert-danger">
<p>{% blocktrans %}Are you sure you want to delete application "{{ object }}"?{% endblocktrans %}</p>
</div>
<div class="form-group">
    <div class="checkbox">
        <label><input type="checkbox" name="remove-volumes"/> {% trans "Remove next volumes from host" %}</label>
    </div>
    <table class="table table-hover table-bordered table-striped">
        <tr><th>{% trans "Container directory" %}</th><th>{% trans "Host directory" %}</th></tr>
        {% for v in volumes %}
        <tr><td>{{v.0}}</td><td>{{v.1}}</td></tr>
        {% endfor %}
    </table>
    <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}" />
<a class="btn btn-link" href="{% url 'app_detail' app.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}
