{% extends "applications/app_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block breadcrumbs %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <div class="btn-group">
        {% if app.docker_container.is_running %}
        <a class="btn btn-default" href="{% url 'app_restart' app.pk %}">
        <span class="glyphicon glyphicon-repeat"></span> {% trans "Restart" %}</a>
        <a class="btn btn-default" href="{% url 'app_stop' app.pk %}">
        <span class="glyphicon glyphicon-stop"></span> {% trans "Stop" %}</a>
        {% else %}
        <a class="btn btn-default" href="{% url 'app_start' app.pk %}">
        <span class="glyphicon glyphicon-play"></span> {% trans "Start" %}</a>
        {% endif %}
    </div>
    <div class="btn-group">
        <a class="btn btn-danger" href="{% url 'app_remove' app.pk %}">
        <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a>
    </div>
</div>
<h2>{{ app.short_description }} {% if app.docker_container.is_running %}<img title="{% trans 'Running' %}" src="{% static 'img/tick-button.png' %}">{% else %}<img title="{% trans 'Not running' %}" src="{% static 'img/minus-button.png' %}">{% endif %}</h2>

{% if app.active %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Dashboard" %}</h3>
</div>
<div class="panel-body">
<table class="table table-hover">

{# TODO: move it to plugin #}
<tr><td><strong>{% trans "Domain" %}</strong></td><td>
{% if app.get_main_domain %}<a href="{{app.get_main_domain}}" target="_blank">{{app.get_main_domain}}</a>{% else %}{% trans "Not set" %}{% endif %}
</td><td><a href="{% url 'haproxy_domains_list' app.pk %}" >{% trans "Change domains" %}</a></td></tr>


<tr><td><strong>{% trans "App name" %}</strong></td><td>{{ app.name }}</td><td></td></tr>
<tr><td><strong>{% trans "Host" %}</strong></td><td>{{app.host}}</td><td></td></tr>
<tr>
    <td><strong>{% trans "IP Address" %}</strong></td>
    <td>{{ app.host.ip_address }}:{{ app.public_app_port }}</td>
    <td></td>
</tr>
<tr>
    <td><strong>{% trans "Internal IP" %}</strong></td>
    <td>{{ app.docker_container.get_internal_ip }}</td>
    <td></td>
</tr>
<tr>
    <td><strong>{% trans "Gateway IP" %}</strong></td>
    <td>{{ app.docker_container.get_gateway_ip }}</td>
    <td></td>
</tr>
<tr>
    <td><strong>{% trans "Docker image" %}</strong></td>
    <td>{{ app.docker_container.docker_image }}</td>
    <td></td>
</tr>
<tr>
    <td><strong>{% trans "Container name" %}</strong></td>
    <td>{{ app.docker_container.name }}</td>
    <td></td>
</tr>
<tr>
    <td><strong>{% trans "Container ID" %}</strong></td>
    <td>{{ app.docker_container.container_id }}</td>
    <td></td>
</tr>
</table>
</div>
</div>
{% else %} {# If app is not active #}

<h4>{% trans "The setup of the app is not complete yet. Please wait." %}</h4>
<pre id="__slot--installation-log">{% trans "Retrieving the log..." %}</pre>
<script type="text/javascript">
function reload_log() {
    var t = $('#__action--installation-complete');
    if(t) {
        var v = $(t).html();
        if(v === 'ready') { window.location = "{% url 'app_detail' app.pk %}" }
    }
    $("#__slot--installation-log").load("{% url 'app_installation_log' app.pk %}");
}
setInterval(reload_log, 2000);
</script>
{% endif %}
{% endblock %}
