{% load i18n plugins_tags %}
<ul class="nav nav-pills nav-stacked __action--host-sidebar">
<li data-itemname="detail"><a href="{{ host.get_absolute_url }}">{% trans "General" %}</a></li>
<li data-itemname="sshkeys"><a href="{% url 'host_sshkeys' host.pk %}">{% trans "SSH Keys" %}</a></li>
<li data-itemname="ftpusers"><a href="{% url 'host_ftpusers' host.pk %}">{% trans "FTP Users" %}</a></li>
{% init_menu "hosts" host %}
<li data-itemname="plugins"><a href="{% url 'host_pluginstates' host.pk %}">{% trans "Plugins" %}</a></li>
</ul>
<script type="text/javascript">
if(window.SIDEBAR_ACTIVE_ITEM) {
$('.__action--host-sidebar li[data-itemname="'+window.SIDEBAR_ACTIVE_ITEM+'"]')
    .addClass('active');
}
</script>