{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}ftpusers{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "FTP Users" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'host_add_ftpuser' host.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add FTP user" %}</a>
</div>
<h2>{% trans "FTP users" %}</h2>
<br>

{% if ftpusers %}
<table class="table table-striped table-hover">
<tr>
    <th width="30%">{% trans "User" %}</th>
    <th>{% trans "Password" %}</th>
    <th></th>
</tr>
{% for ftpuser in ftpusers %}
<tr>
    <td>{{ ftpuser.username }}</td>
    <td>{{ ftpuser.pwd_html|safe }}</td>
    <td style="text-align:right;">
    <div class="btn-group">
    <a class="btn btn-sm btn-info" href="ftp://{{ ftpuser.username }}@{{ ftpuser.host.ip_address }}" target="_blank"><span class="glyphicon glyphicon-share" title="{% trans 'Go to FTP' %}"></span></a>
    <a class="btn btn-sm btn-info" href="{% url 'host_change_ftpuser_password' host.pk ftpuser.pk %}"><span class="glyphicon glyphicon-lock" title="{% trans 'Change password' %}"></span></a>

    </div>
    <a href="{% url 'host_remove_ftpuser' host.pk ftpuser.pk %}" class="btn btn-danger btn-sm {% if ftpuser.can_remove == False %} disabled{% endif %}"><span class="glyphicon glyphicon-trash" title="{% trans 'Delete' %}"></span></a></td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no FTP users yet." %}</p>
</div>
{% endif %}
{% endblock %}