{% extends "hosts/host_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}

{% block sidebar_init %}ftpusers{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active"><a href="{% url 'host_ftpusers' host.pk %}">{% trans "FTP Users" %}</a></li>
<li class="active">{% trans "Add FTP user" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Add FTP user" %}</h2>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% trans "Add FTP user" %}
</button>
<a class="btn btn-link" href="{% url 'host_ftpusers' host.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}