{% extends "two_column_page.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} - {{ host.name }}{% endblock %}

{% block topbar_init %}hosts{% endblock %}
{% block sidebar_init %}detail{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'host_list' %}">{% trans "Hosts" %}</a></li>
<li><a href="{{ host.get_absolute_url }}">{{ host }}</a></li>
{% endblock %}

{% block sidebar %}
{% include "hosts/_host_sidebar.html" %}
{% endblock %}

{% block content %}{% endblock %}
