{% extends "one_column_page.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} - {% trans "Hosts" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Hosts" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'add_host' %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add host" %}</a>
</div>
<h2>{% trans "Host list" %}</h2>
<br>

{% if hosts %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Server type" %}</th>
    <th>{% trans "Host domain" %}</th>
    <th>{% trans "IP Address" %}</th>
    <th>{% trans "Description" %}</th>
</tr>
{% for host in hosts %}
<tr{% if not host.is_manageable %} class="info"{% endif %}>
    <td><a href="{{ host.get_absolute_url }}">{{ host.name }}</a></td>
    <td>{{ host.server_type }}</td>
    <td>{{ host.get_host_domain }}</td>
    <td>{{ host.ip_address }}</td>
    <td>{{ host.get_description_as_html|safe }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
<p>{% trans "There are no hosts yet." %}</p>
</div>
{% endif %}
{% endblock %}