{% load i18n crispy_forms_tags %}
<h2>{% trans "Add SSH key for" %} {{ p_object }}</h2>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% trans "Add key" %}
</button>
<a class="btn btn-link" href="{{ cancel_url }}">{% trans "Cancel" %}</a>
</div>
</form>