{% load i18n %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{{ add_key_url }}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add key" %}</a>
</div>
<h2>{% trans "SSH keys" %}</h2>
<br>
{% if keys_records %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Added" %}</th>
    <th>{% trans "Owner" %}</th>
    <th></th>
</tr>
{% for key in keys_records %}
<tr>
    <td>{{ key.key.name }}</td>
    <td>{{ key.added|date:"d-m-Y" }}</td>
    <td>{{ key.added_by.get_full_name }}</td>
    <td style="text-align:right;">
        <a href="{% url remove_key_url_name p_object.pk key.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no SSH keys yet." %}</p>
</div>
{% endif %}