{% load i18n crispy_forms_tags %}
<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="alert alert-danger">
<p>{% blocktrans %}Are you sure you want to delete SSH key "{{ object }}"?{% endblocktrans %}</p>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}" />
<a class="btn btn-link" href="{{ cancel_url }}">{% trans "Cancel" %}</a>
</div>
</form>