{% extends "one_column_page.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} - {% trans "SSH Keys" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "SSH Keys" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'sshkeys_add_key' %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add key" %}</a>
</div>
<h2>{% trans "SSH Keys" %}</h2>
<br>

{% if keys %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Added" %}</th>
    <th></th>
</tr>
{% for key in keys %}
<tr>
    <td>{{ key.name }}</td>
    <td>{{ key.added|date:"d-m-Y" }}</td>
    <td style="text-align:right;">
        <a href="{% url 'sshkeys_edit_key' key.pk %}" class="btn btn-info btn-sm" title="{% trans 'Edit' %}"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="{% url 'sshkeys_delete_key' key.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no SSH keys yet." %}</p>
</div>
{% endif %}


<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">{% trans "How to generate SSH key" %}</h3>
</div>
<div class="panel-body">
{% blocktrans %}
<p>Host and container administration can work only with ssh keys.
You can generate own key on your machine with command:</p>
<pre>ssh-keygen -t dsa</pre>
{% endblocktrans %}
</div>
</div>
{% endblock %}