{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}haproxies{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "HAProxy" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "HAProxy Dashboard" %} {% if haproxy.docker_container.is_running %}<img title="{% trans 'Running' %}" src="{% static 'img/tick-button.png' %}">{% else %}<img title="{% trans 'Not running' %}" src="{% static 'img/minus-button.png' %}">{% endif %}</h2>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Information" %}</h3>
</div>
<div class="panel-body">
    <table class="table table-hover">
        <tr>
            <td><strong>{% trans "Internal IP" %}</strong></td>
            <td>{{ haproxy.docker_container.get_internal_ip }}</td>
            <td></td>
        </tr>
    </table>
</div>
</div>

<hr>
<div class="btn-toolbar pull-right">
    <a class="btn btn-info" href="{% url 'haproxy_save_config' host.pk %}">
    <span class="glyphicon glyphicon-save"></span> {% trans "Save config" %}</a>
</div>
<h2>{% trans "/etc/haproxy.cfg" %}</h2>
<br>
<pre style="height:400px;overflow:scroll;">{{haproxy.get_config|safe}}</pre>

<hr>
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'haproxy_add_ssl_certificate' host.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add SSL Certificate" %}</a>
</div>
<h2>{% trans "SSL Certificates" %}</h2>
<br>
{% if ssl_certs %}
<table class="table table-border table-hover table-striped">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Domains" %}</th>
    <th>{% trans "Added" %}</th>
    <th>{% trans "Added by" %}</th>
    <th></th>
</tr>
{% for cert in ssl_certs %}
<tr>
    <td>{{cert.name}}</td>
    <td>
    {% with cert.domains.all as domains %}
    {% if domains %}
    {% for d in domains %}
    <a href="{{d.get_link}}" target="_blank">{{d.domain}}</a>
    {% if not forloop.first %}, {% endif %}
    {% endfor %}
    {% else %}
    {% trans "Not set" %}
    {% endif %}
    {% endwith %}
    </td>
    <td>{{cert.added|date:"d-m-Y"}}</td>
    <td>{{cert.added_by}}</td>
    <td style="text-align:right">
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
            <a href="{% url 'haproxy_ssl_certificate_push' host.pk cert.pk %}" class="btn btn-info btn-sm" title="{% trans 'Push to server' %}"><span class="glyphicon glyphicon-cloud-upload"></span></a>
            </div>
            <div class="btn-group">
            <a href="{% url 'haproxy_ssl_certificate_delete' host.pk cert.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
{% trans "There are no SSL certificates yet associated with this HAProxy instance." %}
</div>
{% endif %}

<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">{% trans "How to create self-signed SSL certificate?" %}</h3>
</div>
<div class="panel-body">
<p>{% trans "If you want to reduce cost and use self-signed SSL certificate for debug purposes you can use the next algorythm." %}</p>
<p>{% blocktrans %}A private key and certificate signing request are required to create an SSL certificate.
These can be generated with a few simple commands. When the openssl req command asks for a
“challenge password”, just press return, leaving the password empty.{% endblocktrans %}<p>
<pre><code>$ openssl genrsa -des3 -passout pass:x -out server.pass.key 2048
...
$ openssl rsa -passin pass:x -in server.pass.key -out server.key
writing RSA key
$ rm server.pass.key
$ openssl req -new -key server.key -out server.csr
...
Common Name (e.g. server FQDN or YOUR name) []:your-domain.com
...
A challenge password []:
...
</code></pre>
<p>{% blocktrans %}The <code>Common Name</code> option is the most important, as your domain used with the certificate needs to match it.{% endblocktrans %}</p>

<p>{% blocktrans %}The self-signed SSL certificate is generated from the server.key private key and server.csr files.{% endblocktrans %}</p>
<pre><code>$ openssl x509 -req -days 365 -in server.csr -signkey server.key -out server.crt
</code></pre>
<p>{% blocktrans %}The content of server.crt and server.key files should be inserted to the corresponding fields of the form.{% endblocktrans %}</p>
</div>
</div>

<hr>
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'haproxy_add_user_list' host.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add user list" %}</a>
</div>
<h2>{% trans "Basic HTTP authentication" %}</h2>
<br>
{% with haproxy.get_user_lists as user_lists %}
{% if user_lists %}
<table class="table table-bordered table-striped table-hover">
<tr>
    <th>{% trans "User list" %}</th>
    <th></th>
</tr>
{% for l in user_lists %}
<tr><td><p><strong>{{l.name}}</strong></p>
    {% with l.get_users as users %}
    {% if users %}
    <table class="table table-bordered table-condensed">
    <tr><th></th>
        <th>{% trans "Username" %}</th>
        <th>{% trans "Password" %}</th>
    <th></th></tr>
    {% for u in l.get_users %}
    <tr><td><a href="{% url 'haproxy_user_delete' host.pk u.pk %}" class="btn btn-link btn-sm text-danger" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a></td>
        <td>{{u.username}}</td>
        <td>{{u.pwd_html|safe}}</td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <p class="label label-default">{% trans "User list is empty" %}</p>
    {% endif %}
    {% endwith %}

</td>
<td style="text-align:right">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
        <a href="{% url 'haproxy_add_user' host.pk l.pk %}" class="btn btn-success btn-sm" style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add user' %}</a>
        </div>
        <div class="btn-group">
        <a href="{% url 'haproxy_edit_user_list' host.pk l.pk %}" class="btn btn-info btn-sm" title="{% trans 'Rename' %}"><span class="glyphicon glyphicon-edit"></span></a>
        </div>
        <div class="btn-group">
        <a href="{% url 'haproxy_user_list_delete' host.pk l.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
</td></tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
{% trans "There are no user lists associated with this HAProxy instance." %}
</div>
{% endif %}
{% endwith %}

<hr>
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'haproxy_add_ip_list' host.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add IP list" %}</a>
</div>
<h2>{% trans "IP lists" %}</h2>
<br>
{% with haproxy.get_ip_lists as ip_lists %}
{% if ip_lists %}
<table class="table table-bordered table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "IPs" %}</th>
    <th></th>
</tr>
{% for i in ip_lists %}
<tr><td>{{i.name}}</td>
<td>{{i.get_ips_as_str}}</td>
<td style="text-align:right">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
        <a href="{% url 'haproxy_edit_ip_list' host.pk i.pk %}" class="btn btn-info btn-sm" title="{% trans 'Edit' %}"><span class="glyphicon glyphicon-edit"></span></a>
        </div>
        <div class="btn-group">
        <a href="{% url 'haproxy_ip_list_delete' host.pk i.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
</td></tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
{% trans "There are no IP lists associated with this HAProxy instance." %}
</div>
{% endif %}
{% endwith %}
{% endblock %}
