{% extends "applications/app_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}

{% block sidebar_init %}domains{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active"><a href="{% url 'haproxy_domains_list' app.pk %}">{% trans "Domain" %}</a></li>
<li class="active">{% if object %}{% trans "Edit domain" %}{% else %}{% trans "Add domain" %}{% endif %}</li>
{% endblock %}

{% block content %}
<h2>{% if object %}{% trans "Edit domain" %}{% else %}{% trans "Add domain" %}{% endif %}</h2>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% if object %}{% trans "Save domain" %}{% else %}{% trans "Add domain" %}{% endif %}
</button>
<a class="btn btn-link" href="{% url 'haproxy_domains_list' app.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}
