{% extends "applications/app_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}domains{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Domains" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'haproxy_domain_add' app.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add domain" %}</a>
</div>
<h2>{% trans "Domains" %}</h2>
<br>
{% if domains %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Domain" %}</th>
    <th>{% trans "Protocol" %}</th>
    <th>{% trans "Added" %}</th>
    <th>{% trans "Added by" %}</th>
    <th>{% trans "HAProxy Service" %}</th>
    {% if show_balancer %}<th>{% trans "Balancing" %}</th>{% endif %}
    <th></th>
</tr>
{% for domain in domains %}
<tr>
    <td>
        <a href="{{ domain.protocol }}://{{ domain.domain }}" target="_blank">{{ domain.domain }}</a>
        {% if domain.auth_user_list or domain.auth_ip_excludes %}<img src="{% static 'img/key.png' %}" title="{% trans 'Limited access' %}">
        <strong>({{domain.auth_user_list.name}}{% if domain.auth_ip_excludes %}!{{domain.auth_ip_excludes.name}}{% endif %})</strong>{% endif %}
        {% if domain.redirect_to %}<strong> &rarr; {{domain.redirect_to}} ({{domain.redirect_code}})</strong>{% endif %}
    </td>
    <td>
        {{ domain.get_protocol_display }}
        {% if domain.protocol == 'https' %}
            {% if domain.ssl_certificate %}
            <img title="{% trans 'OK' %}" src="{% static 'img/shield.png' %}">
            {% else %}
            <img title="{% trans 'SSL Certificate is not set' %}" src="{% static 'img/exclamation-shield.png' %}">
            {% endif %}
        {% else %}
            {% if domain.has_https_variant and not domain.redirect_to_https %}
            <img title="{% trans 'Add redirect to HTTPS' %}" src="{% static 'img/exclamation-shield.png' %}">
            {% else %}
            {% if domain.redirect_to_https %}<strong> &rarr; HTTPS</strong>{% endif %}
            {% endif %}
        {% endif %}
    </td>
    <td>{{ domain.added|date:"d-m-Y" }}</td>
    <td>{{ domain.added_by.get_full_name }}</td>
    <td>{{ domain.haproxy }}</td>
    {% if show_balancer %}<td>{% if domain.use_balancer %}<img src="{% static 'img/tick-button.png' %}">{% else %}<img src="{% static 'img/minus-button.png' %}">{% endif %}</td>{% endif %}
    <td style="text-align:right;">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
        {% if domain.protocol == 'https' %}
        <a href="{% url 'haproxy_domain_ssl' app.pk domain.pk %}" class="btn btn-info btn-sm" title="{% trans 'Choose SSL certificate' %}"><span class="glyphicon glyphicon-lock"></span></a>
        {% else %}
        <a href="{% url 'haproxy_domain_redirect' app.pk domain.pk %}" class="btn btn-info btn-sm" title="{% trans 'Redirect' %}"><span class="glyphicon glyphicon-share-alt"></span></a>
        {% endif %}
        <a href="{% url 'haproxy_domain_user_list' app.pk domain.pk %}" class="btn btn-info btn-sm" title="{% trans 'Basic HTTP auth' %}"><span class="glyphicon glyphicon-user"></span></a>
        </div>
        <div class="btn-group">
        <a href="{% url 'haproxy_domain_delete' app.pk domain.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no domains yet." %}</p>
</div>
{% endif %}
{% endblock %}
