{% extends "applications/app_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}

{% block sidebar_init %}domains{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'haproxy_domains_list' app.pk %}">{% trans "Domains" %}</a></li>
<li class="active">{% trans "Delete domain" %}</li>
{% endblock %}

{% block content %}
<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="alert alert-danger">
<p>{% blocktrans %}Are you sure you want to delete domain "{{ object }}"?{% endblocktrans %}</p>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}" />
<a class="btn btn-link" href="{% url 'haproxy_domains_list' app.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}