{% extends "hosts/host_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}

{% block sidebar_init %}haproxies{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active"><a href="{% url 'haproxy_index' host.pk %}">{% trans "HAProxy" %}</a></li>
<li class="active">{% trans "Delete user" %}</li>
{% endblock %}

{% block content %}
<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="alert alert-danger">
<p>{% blocktrans %}Are you sure you want to delete user "{{ object }}"?{% endblocktrans %}</p>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}" />
<a class="btn btn-link" href="{% url 'haproxy_index' host.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}
