{% extends "hosts/host_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}

{% block sidebar_init %}haproxies{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active"><a href="{% url 'haproxy_index' host.pk %}">{% trans "HAProxy" %}</a></li>
<li class="active">{% if object %}{% trans "Edit user" %}{% else %}{% trans "Add user" %}{% endif %}</li>
{% endblock %}

{% block content %}
<h2>{% if object %}{% trans "Edit user" %}{% else %}{% trans "Add user" %}{% endif %}</h2>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% if object %}{% trans "Save" %}{% else %}{% trans "Add user" %}{% endif %}
</button>
<a class="btn btn-link" href="{% url 'haproxy_index' host.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}
