{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}haproxies{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "HAProxy" %}</li>
{% endblock %}

{% block content %}
{% if not haproxy_service %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'haproxy_install' host.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Install HAProxy" %}</a>
</div>
{% endif %}
<h2>{% trans "HAProxy" %}</h2>
<br>
{% if haproxy_service %}<p>{% trans "Installation in progress." %}</p>
<pre id="__slot--installation-log">{% trans "Retrieving the log..." %}</pre>
<script type="text/javascript">
function reload_log() {
    var t = $('#__action--installation-complete');
    if(t) {
        var v = $(t).html();
        if(v === 'ready') { window.location = "{% url 'haproxy_index' host.pk %}" }
    }
    $("#__slot--installation-log").load("{% url 'haproxy_installation_log' host.pk %}");
}
setInterval(reload_log, 2000);
</script>
{% else %}
<div class="alert alert-info">
{% trans "HAProxy service is not installed for this host." %}
</div>
{% endif %}
{% endblock %}