{% extends "one_column_page.html" %}
{% load i18n %}

{% block breadcrumbs_container %}{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>{% trans "Grape Panel" %}</h1>
</div>
</div>

<div class="row">
<div class="col-sm-6">

</div>
<div class="col-sm-6">
</div>
</div>
{% endblock %}
