{% extends "base.html" %}
{% load i18n %}
{% block container %}
<div class="row">
{% if not hide_sidebar %}
  <div class="col-md-2">
  {% block sidebar %}{% endblock %}
  </div>
{% endif %}
  <div class="{% if not hide_sidebar %}col-md-10{% else %}col-md-12{% endif %}">
  {% block breadcrumbs_container %}
  <ol class="breadcrumb">
  {% block breadcrumbs %}
    <li><a href="{% url 'dashboard' %}">{% trans "Home" %}</a></li>
  {% endblock %}
  </ol>
  {% endblock %}
  <!-- Main component for a primary marketing message or call to action -->
  {% block content %}{% endblock %}
  </div>
{% endblock %}