{% extends "applications/app_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}cmdtop{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Processes" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Processes" %}</h2>
<br>

<table class="table table-hover table-bordered table-striped">
<tr>
{% for t in titles %}<th>{{t}}</th>{% endfor %}
</tr>
{% for p in processes %}
<tr>
    {% for v in p %}<td>{{v}}</td>{% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}
