{% load i18n %}{% if image_pulling_log %}1. {% trans "Pull the Docker image." %}<br>
{% if temporary_log != "" %}{{temporary_log|safe|linebreaksbr}}{% else %}{{image_pulling_log.log|safe|linebreaksbr}}{% endif %}
{% if container_init != "none" %}2. Start the container<br>
{% if container_init == "processing" %}Starting<br>{% endif %}{% if container_init == "ready" %}Ready<br>{% endif %}{% endif %}
{% else %}{% trans "Waiting for image pulling log." %}{% endif %}
<span id="__action--installation-complete" style="display:none;">{{container_init}}</span>
