{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}postgres{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "PostgreSQL Servers" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'postgresql_add' host.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add PostgreSQL server" %}</a>
</div>
<h2>{% trans "PostgreSQL Servers" %}</h2>
<br>
{% if pg_services %}
<table class="table table-hover table-striped table-bordered">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Type" %}</th>
    <th>{% trans "Connection" %}</th>
    <th>{% trans "Stats" %}</th>
</tr>
{% for p in pg_services %}
<tr>
    <td><a href="{% url 'postgresql_detail' host.pk p.pk %}">{{p.name}}</a></td>
    <td>{{p.docker_image}}</td>
    <td>{{ p.host.ip_address }}:{{ p.get_public_pg_port }}</td>
    <td>
        <p>{% trans "Users" %}: {{p.pg_users.count}}</p>
        <p>{% trans "Databases" %}: {{p.pg_databases.count}}</p>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">{% trans "There are no installed PostgreSQL services yet." %}</div>
{% endif %}
{% endblock %}
