{% extends "applications/app_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}postgres{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "PostgreSQL databases" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'postgresql_pguser_add' app.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add PostgreSQL user" %}</a>
</div>
<h2>{% trans "PostgreSQL users" %}</h2>
<br>
{% if pg_users %}
<table class="table table-hover table-bordered table-striped">
<tr>
    <th>{% trans "User name" %}</th>
    <th>{% trans "Password" %}</th>
    <th>{% trans "DB Server" %}</th>
    <th>{% trans "Owner" %}</th>
    <th></th>
</tr>
{% for pgu in pg_users %}
<tr>
    <td>{{pgu.username}}</td>
    <td>{{pgu.pwd_html}}</td>
    <td>{{pgu.pg_service}}</td>
    <td>{{pgu.owner}}</td>
    <td style="text-align:right;">
        <a href="{% url 'postgresql_pguser_delete' app.pk pgu.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    {% trans "There are no PostgreSQL users yet." %}
</div>
{% endif %}

<hr>
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'postgresql_pgdatabase_add' app.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add PostgreSQL database" %}</a>
</div>
<h2>{% trans "PostgreSQL databases" %}</h2>
<br>
{% if pg_databases %}
<table class="table table-hover table-bordered table-striped">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "User name" %}</th>
    <th>{% trans "DB Server" %}</th>
    <th>{% trans "Owner" %}</th>
    <th></th>
</tr>
{% for pgd in pg_databases %}
<tr>
    <td>{{pgd.name}}</td>
    <td>{{pgd.username}}</td>
    <td>{{pgd.pg_service}}</td>
    <td>{{pgd.owner}}</td>
    <td style="text-align:right;">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
        <a href="{% url 'postgresql_pgdatabase_connection' app.pk pgd.pk %}" class="btn btn-info btn-sm" title="{% trans 'Connection info' %}"><span class="glyphicon glyphicon-info-sign"></span></a>
        <a href="{% url 'postgresql_pgdatabase_dumps' app.pk pgd.pk %}" class="btn btn-info btn-sm" title="{% trans 'Dumps/Load' %}"><span class="glyphicon glyphicon-hdd"></span></a>
        </div>
        <div class="btn-group">
        <a href="{% url 'postgresql_pgdatabase_delete' app.pk pgd.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    {% trans "There are no PostgreSQL databases yet." %}
</div>
{% endif %}
{% endblock %}
