{% extends "hosts/host_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}

{% block sidebar_init %}postgres{% endblock %}

{% block title %}{{ block.super }} - {% trans "Add PostgreSQL Server" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active"><a href="{% url 'postgresql_index' host.pk %}">{% trans "PostgreSQL Servers" %}</a></li>
<li class="active">{% trans "Add PostgreSQL Server" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Add PostgreSQL Server" %}</h2>
<br>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% trans "Add PostgreSQL Server" %}
</button>
<a class="btn btn-link" href="{% url 'postgresql_index' host.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}
