{% extends "applications/app_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}postgres{% endblock %}

{% block title %}{{ block.super }} - {% trans "Database connection" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active"><a href="{% url 'postgresql_databases_list' app.pk %}">{% trans "PostgreSQL databases" %}</a></li>
<li class="active">{% trans "Database connection" %}</li>
{% endblock %}

{% block content %}
<h3>{% trans "Database connection" %}</h3>

<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">Django (settings.py)</h3>
</div>
<div class="panel-body">
<pre>
{{ django_connection }}
</pre>
</div>
</div>

<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">Flask (config.py)</h3>
</div>
<div class="panel-body">
<pre>
{{ flask_connection }}
</pre>
</div>
</div>

<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">psql</h3>
</div>
<div class="panel-body">
<pre>
{{ psql_connection }}
</pre>
<p>{% trans "Type <code>\q</code> for exit from console." %}</p>
</div>
</div>
{% endblock %}
