{% extends "applications/app_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}postgres{% endblock %}

{% block title %}{{ block.super }} - {% trans "Database dumps and load" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active"><a href="{% url 'postgresql_databases_list' app.pk %}">{% trans "PostgreSQL databases" %}</a></li>
<li class="active">{% trans "Database dumps and load" %}</li>
{% endblock %}

{% block content %}
<h3>{% trans "Database dumps and load" %}</h3>

<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">How to make the SQL dump of the database?</h3>
</div>
<div class="panel-body">
<pre>
{{ db_sql_dump }}
</pre>
</div>
</div>

<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">How to restore database from the SQL dump?</h3>
</div>
<div class="panel-body">
<pre>
{{ db_restore_sql }}
</pre>
<p>{% trans "Do not forget to replace <code>db_dump.sql</code> by the name of your file." %}</p>
</div>
</div>

<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">How to make the compressed dump of the database (for large databases)?</h3>
</div>
<div class="panel-body">
<pre>
{{ db_compressed_dump }}
</pre>
</div>
</div>

<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">How to restore database from the compressed dump?</h3>
</div>
<div class="panel-body">
<pre>
{{ db_restore_compressed }}
</pre>
<p>{% trans "Do not forget to replace <code>db_dump.sql</code> by the name of your file." %}</p>
</div>
</div>
{% endblock %}
