{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}postgres{% endblock %}

{% block breadcrumbs %}
{{block.super}}
<li class="active"><a href="{% url 'postgresql_index' host.pk %}">{% trans "PostgreSQL Servers" %}</a></li>
<li class="active">{{ pg_service.name }}</li>
{% endblock %}

{% block content %}
{% if pg_service.active %}
<div class="btn-toolbar pull-right">
    <div class="btn-group">
        <a class="btn btn-danger" href="{% url 'postgresql_delete' host.pk pg_service.pk %}">
        <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a>
    </div>
</div>
{% endif %}
<h2>{{ pg_service.name }} {% if pg_service.docker_container.is_running %}<img title="{% trans 'Running' %}" src="{% static 'img/tick-button.png' %}">{% else %}<img title="{% trans 'Not running' %}" src="{% static 'img/minus-button.png' %}">{% endif %}</h2>

{% if pg_service.active %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "General info" %}</h3>
</div>
<div class="panel-body">
<table class="table table-hover">
    <tr><td><strong>{% trans "Host" %}</strong></td><td>{{pg_service.host}}</td><td></td></tr>
    <tr>
        <td><strong>{% trans "IP Address" %}</strong></td>
        <td>{{ pg_service.host.ip_address }}:{{ pg_service.get_public_pg_port }}</td>
        <td></td>
    </tr>
    <tr>
        <td><strong>{% trans "Internal IP" %}</strong></td>
        <td>{{ pg_service.docker_container.get_internal_ip }}</td>
        <td></td>
    </tr>
    <tr>
        <td><strong>{% trans "Docker image" %}</strong></td>
        <td>{{ pg_service.docker_container.docker_image }}</td>
        <td></td>
    </tr>
    <tr>
        <td><strong>{% trans "Container name" %}</strong></td>
        <td>{{ pg_service.docker_container.name }}</td>
        <td></td>
    </tr>
    <tr>
        <td><strong>{% trans "Container ID" %}</strong></td>
        <td>{{ pg_service.docker_container.container_id }}</td>
        <td></td>
    </tr>
</table>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Connection" %}</h3>
</div>
<div class="panel-body">
    <table class="table table-hover">
        <tr><td><strong>{% trans "Host" %}</strong></td><td>{{pg_service.host.ip_address}}</td><td></td></tr>
        <tr><td><strong>{% trans "Port" %}</strong></td><td>{{ pg_service.get_public_pg_port }}</td><td></td></tr>
        <tr><td><strong>{% trans "Username" %}</strong></td>
            <td>postgres</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>{% trans "Password" %}</strong></td>
            <td>{{ password_html }}</td>
            <td></td>
        </tr>
    </table>
</div>
</div>

{% include "sshkeys/_sshkey_list_for_object.html" %}
{% if keys_records %}
<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">{% trans "How to login?" %}</h3>
</div>
<div class="panel-body">
<p>{% trans "You can login to container with command:" %}
<code>{{ pg_service.docker_container.get_ssh_command }}</code></p>
</div></div>
{% endif %}

{% else %} {# If PG service is not active #}

<h4>{% trans "The setup of the PostgreSQL server is not complete yet. Please wait." %}</h4>
<pre id="__slot--installation-log">{% trans "Retrieving the log..." %}</pre>
<script type="text/javascript">
function reload_log() {
    var t = $('#__action--installation-complete');
    if(t) {
        var v = $(t).html();
        if(v === 'ready') { window.location = "{% url 'postgresql_detail' host.pk pg_service.pk %}" }
    }
    $("#__slot--installation-log").load("{% url 'postgresql_installation_log' pg_service.pk %}");
}
setInterval(reload_log, 2000);
</script>
{% endif %}
{% endblock %}
