{% extends "applications/app_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}

{% block sidebar_init %}postgres{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active"><a href="{% url 'postgresql_databases_list' app.pk %}">{% trans "PostgreSQL databases" %}</a></li>
<li class="active">{% trans "Add PostgreSQL user" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Add PostgreSQL user" %}</h2>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% trans "Add PostgreSQL user" %}
</button>
<a class="btn btn-link" href="{% url 'postgresql_databases_list' app.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}
