{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}postgres{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active"><a href="{% url 'postgresql_index' host.pk %}">{% trans "PostgreSQL Servers" %}</a></li>
<li class="active"><a href="{{cancel_url}}">{{ pg_service.name }}</a></li>
<li class="active">{% trans "Add key" %}</li>
{% endblock %}

{% block content %}
{% include "sshkeys/_sshkey_add_for_object.html" %}
{% endblock %}
