{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block sidebar_init %}postgres{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active"><a href="{% url 'postgresql_index' host.pk %}">{% trans "PostgreSQL Servers" %}</a></li>
<li><a href="{{ cancel_url }}">{{p_object.name}}</a></li>
<li class="active">{% trans "Remove key" %}</li>
{% endblock %}

{% block content %}
{% include "sshkeys/_sshkey_delete_for_object.html" %}
{% endblock %}
